/*
  Theme Setting
  This file contains theme settings.
  Change the properties of each class to customize the design.

  The following styling could be applied:
  - Brand color
  - Font Regular (and other font-related settings)
  - Font Bold (and other font-related settings)
*/

/*** Brand color ***/

/*
  - Primary (background-color)
  Used to add primary background-color to elements. Should also include
  a color for text placed on top of the primary color. Be sure to pick
  a text color with good contrast.
*/
.wayke__theme.wayke__color--primary-bg {
  background-color: #ff5a1c;
  color: #fff;
}

.wayke__theme.wayke__color--primary-text {
  color: #ff5a1c;
}

.wayke__theme.wayke__font--regular {
  font-family: sans-serif;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.02em;
}

.wayke__theme.wayke__font--bold {
  font-family: sans-serif;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.02em;
}
